<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="RemoveAttributes(file)" />
  <connectionStrings xdt:Transform="Replace">
    <add name="SiteContext" connectionString="data source=ci.database.server;initial catalog=Zombie;integrated security=True;multipleactiveresultsets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <elmah xdt:Transform="InsertAfter(/configuration/connectionStrings)">
    <errorMail from="2toad.zombie+support@gmail.com"
      to="2toad.zombie+support@gmail.com"
      subject="Zombie - ELMAH"
      async="true">
    </errorMail>
  </elmah>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network defaultCredentials="true" enableSsl="false" host="localhost" port="25" />
      </smtp>
    </mailSettings>
  </system.net>
  <entityFramework>
    <interceptors xdt:Transform="Remove" />
  </entityFramework>
</configuration>
