<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="TestData.Generate" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="elmah.mvc.disableHandler" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <connectionStrings xdt:Transform="Replace">
    <add name="SiteContext" connectionString="data source=staging.database.server;initial catalog=Zombie;integrated security=True;multipleactiveresultsets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <elmah>
    <security xdt:Transform="Remove" />
    <errorMail xdt:Transform="Insert"
      from="2toad.zombie+support@gmail.com"
      to="2toad.zombie+support@gmail.com"
      subject="Zombie - ELMAH"
      async="true">
    </errorMail>
  </elmah>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network xdt:Transform="Replace"
          enableSsl="true"
          host="{{SMTP_HOST}}"
          port="{{SMTP_PORT}}"
          userName="{{SMTP_USERNAME}}"
          password="{{SMTP_PASSWORD}}" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors mode="RemoteOnly" xdt:Transform="Replace" />
  </system.web>
</configuration>
