# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# User
*.suo
*.user
*.sln.docstates
Zombie/ConnectionStrings.config

# Binaries
[Bb]in/
[Oo]bj/

# Package Management
node_modules/
bower_components/
[Pp]ackages/
