<div class="error-404">
    <header class="title">
        <div class="container">
            <h1>4<i class="fa fa-frown-o fa-2x"></i>4</h1>
            <p><i>"A witty quote about not finding what you were looking for..."</i></p>
        </div>
    </header>
    <section class="container content">
        <h1>Sorry</h1>
        <p>The resource you're looking for doesn't appear to exist.</p>
        <p>You can <a href="#" ng-click="retry()">try again</a>, if you think it will help, or start from the <a href="/">beginning</a>.</p>
    </section>
</div>
