<form name="form" ng-submit="login(form)" autocomplete="off" novalidate>
    <div class="modal-body">
        <div class="form-group" ng-class="form.username.$dirty && {'has-error': form.username.$invalid, 'has-success': form.username.$valid}">
            <label for="username" class="control-label">Username</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input type="text" name="username" class="form-control" ng-model="username" required>
            </div>
            <span class="help-block" ng-show="form.username.$dirty && form.username.$invalid">Please enter your username.</span>
        </div>
        <div class="form-group has-feedback" ng-class="form.password.$dirty && {'has-error': form.password.$invalid, 'has-success': form.password.$valid}">
            <label for="password" class="control-label">Password</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <input type="password" name="password" class="form-control" ng-model="password" required>
            </div>
            <span class="help-block" ng-show="form.password.$dirty && form.password.$invalid">Please enter your password.</span>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="config.preferences.rememberMe">
                Remember Me
            </label>
        </div>
        <zb-form-error></zb-form-error>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary pull-left" zb-ladda="login">Login</button>
        <button type="button" class="btn btn-warning pull-left" ng-click='close()'>Close</button>
        <div class="btn-group">
            <button type="button" class="btn btn-link" ng-click="register()">Register</button>
            <button type="button" class="btn btn-link" ng-click="help()">Help</button>
        </div>
    </div>
</form>
