body {
    background: #eeeeee;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

// Prevent Angular flash
// This little trick is necessary instead of using the ng-cloak directive
// in Index.cshtml because we load our scripts at the bottom of the page
.ng-cloak {
    display: none;
}

div.noscript, // We can't style the <noscript> element because IE ignores it
div.unsupported-browser {
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
    min-height: 65px;
    font: 95%/30px Verdana;
    text-align: center;
    background: #f2dede;
    border-bottom: solid 1px #a94442;
}

section.view {
    background-color: #ffffff;
}

section.content {
    min-height: 250px;
    padding: 15px 0;
}

.subnav {
    .nav-pills > .active > a, .nav-pills > .active > a:hover {
        background-color: #d9edf7;
        border: solid 1px #428bca;
        color: #428bca;
    }
}

/**************************
 Bootstrap 
***************************/

/* Modal */
.modal-content {
    @include border-radius(0);
}

.modal-dialog {
    max-width: 400px;
}

.modal-body {
    padding-bottom: 0;
}

/* Modal - Custom Styles */
.modal-primary {
    .modal-header {
        border-bottom-color: #428bca;
        background-color: #428bca;
        color: #ffffff;
    }
}

.modal-success {
    .modal-header {
        border-bottom-color: #d6e9c6;
        background-color: #dff0d8;
        color: #3c763d;
    }
}

.modal-info {
    .modal-header {
        border-bottom-color: #bce8f1;
        background-color: #d9edf7;
        color: #31708f;
    }
}

.modal-warning {
    .modal-header {
        border-bottom-color: #faebcc;
        background-color: #fcf8e3;
        color: #8a6d3b;
    }
}

.modal-danger {
    .modal-header {
        border-bottom-color: #ebccd1;
        background-color: #f2dede;
        color: #a94442;
    }
}
