header {
    nav.navbar {
        margin-bottom: 0;

        // Remove boostrap round corners
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }
}
